
<form th:action="@{/addcoupon}" method="post">

	<div class="form-group">
		<label for="exampleInputEmail1">Name</label> <input
			name="name" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">Discount</label> <input
			name="discounr" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">Limit</label> <input
			name="limit" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">Code</label> <input
			name="code" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>

	<button type="submit" class="btn btn-primary">Create</button>


</form>