<table class="table table-striped">
	<thead>
		<tr>
			<th>name</th>
		</tr>
	</thead>
	<tbody>
		<a th:href="@{/addsubscription}">Create</a>
		<table id="dataTable" class="text-center">
			<thead class="bg-light text-capitalize">
				<tr>
					<th th:text="title"></th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${subscriptions}">
					<td th:text="${item.title}"></td>
	<td>
												
												<a type="button" 
													class="btn btn-flat btn-warning btn-xs mb-3"
													th:href="@{/editsubscription/{id}(id=${item.id}) }"> 
													<i class="fa fa-edit" aria-hidden="true"></i>d
												</a>
												<a type="button" 
													onclick="return confirm('Are you sure?') ? true : false;"
													class="btn btn-flat btn-danger btn-xs mb-3"
													th:href="@{/deletesubscription/{id}(id=${item.id}) }"> 
													<i class="fa fa-trash" aria-hidden="true"></i>d
												</a></td>				
				</tr>

			</tbody>

		</table>

	</tbody>
</table>