
<form th:action="@{/addquestion}" method="post">

	<div class="form-group">
		<label for="exampleInputEmail1">questionType</label> <input
			name="questionType" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">question</label> <input
			name="question" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">marks</label> <input
			name="marks" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>

	<button type="submit" class="btn btn-primary">Create</button>


</form>