
<form th:action="@{/addcourse}" method="post">

	<div class="form-group">
		<label for="exampleInputEmail1">Topic</label> <input
			name="topicTitle" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">Requirements</label> <input
			name="courseRequirements" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">Description</label> <input
			name="courseDescription" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">level</label> <input
			name="level" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">language</label> <input
			name="language" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">thumbnail</label> <input
			name="thumbnail" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">isfree</label> <input
			name="isfree" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">price</label> <input
			name="price" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">discount</label> <input
			name="discount" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">featuredCourse</label> <input
			name="featuredCourse" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">previewVideo</label> <input
			name="previewVideo" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">coverImage</label> <input
			name="coverImage" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">capacity</label> <input
			name="capacity" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">startDate</label> <input
			name="startDate" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">downloadable</label> <input
			name="downloadable" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">partnerInstructor</label> <input
			name="partnerInstructor" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	

	<button type="submit" class="btn btn-primary">Create</button>


</form>