<form th:action="@{/updatequiz/{id}(id=${quiz.id})}"
	th:object="${quiz}" method="post">

	
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">quizTitle</label> <input
			name="quizTitle" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"  th:value="${quiz.quizTitle}"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">category</label> <input
			name="category" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"  th:value="${quiz.category}"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">minimumPercentage</label> <input
			name="minimumPercentage" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"  th:value="${quiz.minimumPercentage}"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">instruction</label> <input
			name="instruction" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"  th:value="${quiz.instruction}"
			placeholder="Description">
	</div>

	<button type="submit" class="btn btn-primary">Edit</button>


</form>